* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @include Responsive(phone) {
    font-size: 35%;
  }
  @include Responsive(phoneL) {
    font-size: 40%;
  }
  @include Responsive(tablet) {
    font-size: 45%;
  }
  @include Responsive(tabletL) {
    font-size: 50%;
  }
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  margin: 0;
}
body {
  font-family: $font-sans;
  background-color: $color-bg;
}
